{block content}
<style>
    @media only screen and (max-width: 700px) {
        #videa {
            width: 250pt;
            height: 200pt;
        }

        #textMo {
            font-size: 16px;
        }
    }
</style>

<br/>
<div class="container" style="min-height: 450pt">
    <h1 class="text-center" style="font-family: Georgia;">Videa</h1> <br/>
    <h1 class="text-center" style="font-family: Georgia;">Momentálně nedostupne</h1> <br/>


    <br/><br/>
</div>