<h3>Nový vzkaz z kontaktního formuláře harmonikář-tom</h3>

<ul>
    <li><strong>Jméno a Příjmení:</strong> {$jmeno} {$prijmeni}</li>
    <li><strong>E-mail:</strong> <a href="mailto:{$email}">{$email}</a></li>
</ul>

<strong>Text zprávy:</strong> <br/>

{$content}