<!DOCTYPE html>
<html>
<head> <!-- head začátek -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>harmonikar-tom</title>
    <link rel="icon" href="{$basePath}/favicon.ico"
          type="image/ico"> {* odkaz na favicon {$basePath znamená cestu harmonikarT/www/} *}

    {* definice bootstrap frameworku *}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {* definice bootstrap-tabulky *}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">

    {* css pro galerii*}
    <link rel="stylesheet" type="text/css" href="{$basePath}/fotoGalerie/galerie/css/lightbox.min.css">

    {* css při zobrazení na mobilu, zmenši text na obrázku hlavičky (harmonika), aby se text vešel do obrázku *}
    <style>
        @media only screen and (max-width: 600px) {
            #textV {
                font-size: 40px;
            }

            #textM {
                font-size: 25px;
            }
        }
    </style>
</head><!-- head konec -->

<body>
<!-- Horní navigační menu začátek -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    <div class="container">

        <a class="navbar-brand js-scroll-trigger" n:href="AdminSekce:default">Harmonikář Tom</a>

        {* na mobilu se objeví tlačítko s hamburger menu *}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- menu s odkazy začátek -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" n:href="AdminSekce:spravaVystoupeni">Správa vystoupení</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" n:href="AdminSekce:spravaRepertoaru">Správa repertoáru</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" n:href="AdminSekce:spravaFotogalerie">Správa fotogalerie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" n:href="AdminSekce:out">Odhlásit se</a>
                </li>
            </ul>
        </div><!-- menu s odkazy konec -->

    </div>
</nav><!-- Horní navigační menu konec -->

<!-- Hlavička webu (součást html body) začátek -->
<header style="background-image: url('{$basePath}/img/pozadi.jpg'); background-repeat: no-repeat;  background-size: 100% 100%; height:300px; ">
    <div class="container text-right">
        <br/><br/><br/>
        <p class="lead">
        <div style="font-family: Georgia; font-size: 50px; color: white; -webkit-text-stroke: 1px black;"><b id="textV">Harmonikář
                Tom</b></div>
        <div style="font-family: Georgia; font-size: 33px; color: white; -webkit-text-stroke: 1px black;"><b id="textM">
                Živá hudba k
                poslechu i tanci</b>
        </div>
        </p>
    </div>
</header><!-- Hlavička webovky konec -->


{if $user->loggedIn}{include content}{/if}

<!-- Patička webu začátek -->
<footer class="py-3 bg-dark"> {* py-3 znamená výšku patičky *}
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Martin30.com
            {php
                $rok = date("Y");
                echo $rok;
            }
        </p>
    </div>
</footer> <!-- Patička webu konec -->

<!-- Sekce javascriptu začátek -->

{block scripts}
    {* javascript pro nette forms *}
    <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>

    {* javascript pro knihovnu jquery *}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    {* javascript pro popper.js, jedná se o pozicování, které vyžaduje bootstrap framework *}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>

    {* javascript pro bootstrap framework *}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    {*definice javascriptu ajax a bootstrap-table.com pro výpis z databáze do bootstrap tabulky*}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    {* čeština do bootstrap tabulky *}
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/locale/bootstrap-table-cs-CZ.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/locale/bootstrap-table-cs-CZ.min.js"></script>

    {* javascript pro fotogalerii *}
    <script type="text/javascript" src="{$basePath}/fotoGalerie/galerie/js/lightbox-plus-jquery.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            {* Úprava vystoupení začátek *}
            $(document).on('click', 'button[data-role=updateVystoupeni]', function () {
                var idVystoupeniu = $(this).data('id'); // je to id + u jako idcko + uprav
                var roku = $('#' + idVystoupeniu).children('td[data-target=rok]').text();
                var datumu = $('#' + idVystoupeniu).children('td[data-target=datum]').text();
                var mistou = $('#' + idVystoupeniu).children('td[data-target=misto]').text();
                var casu = $('#' + idVystoupeniu).children('td[data-target=cas]').text();

                $('#idVystoupeniU').val(idVystoupeniu);
                $('#rokU').val(roku); // do modalu vypiš proměnnou, kde je uložen rok na základě idčka
                $('#datumU').val(datumu);
                $('#mistoU').val(mistou);
                $('#casU').val(casu);
                $('#upravModalVystoupeni').modal('toggle');
            });

            $(document).on('click', 'button[data-role=deleteVystoupeni]', function () {
                var idVystoupeniv = $(this).data('id'); // je to id + v jako idcko + vymaž

                $('#idVystoupeniV').val(idVystoupeniv);
                $('#smazModalVystoupeni').modal('toggle');
            });
            {* Úprava vystoupení konec *}

            {* Úprava repertoáru začátek *}
            $(document).on('click', 'button[data-role=updateRepertoar]', function () {
                var idPisneu = $(this).data('id'); // je to id + u jako idcko + uprav
                var nazevu = $('#' + idPisneu).children('td[data-target=nazev]').text();
                var zanru = $('#' + idPisneu).children('td[data-target=zanr]').text();
                var tanecu = $('#' + idPisneu).children('td[data-target=tanec]').text();

                $('#idPisneU').val(idPisneu);
                $('#nazevU').val(nazevu);
                $('#zanrU').val(zanru);
                $('#tanecU').val(tanecu);
                $('#upravModalRepertoar').modal('toggle');
            });

            $(document).on('click', 'button[data-role=deleteRepertoar]', function () {
                var idPisnev = $(this).data('id'); // je to id + v jako idcko + vymaž

                $('#idPisneV').val(idPisnev);
                $('#smazModalRepertoar').modal('toggle');
            });
            {* Úprava repertoáru konec *}

            {* Úprava fotogalerie začátek *}
            $(document).on('click', 'button[data-role=deleteFotogalerie]', function () {
                var idFotografiev = $(this).data('id'); // je to id + v jako idcko + vymaž

                $('#idFotogalerieV').val(idFotografiev);
                $('#smazModalFotogalerie').modal('toggle');
            });
            {* Úprava fotogalerie konec *}

            {* Úprava rezervace začátek *}
            $(document).on('click', 'button[data-role=updateRezervace]', function () {
                var idRezervaceu = $(this).data('id'); // je to id + u jako idcko + uprav
                var rokur = $('#' + idRezervaceu).children('td[data-target=rokr]').text();
                var odu = $('#' + idRezervaceu).children('td[data-target=od]').text();
                var dou = $('#' + idRezervaceu).children('td[data-target=do]').text();

                $('#idRezervaceU').val(idRezervaceu);
                $('#rokUr').val(rokur);
                $('#odU').val(odu);
                $('#doU').val(dou);
                $('#upravModalRezervace').modal('toggle');
            });

            $(document).on('click', 'button[data-role=deleteRezervace]', function () {
                var idRezervacev = $(this).data('id'); // je to id + v jako idcko + vymaž

                $('#idRezervaceV').val(idRezervacev);
                $('#smazModalRezervace').modal('toggle');
            });
            {* Úprava rezervace konec *}

        });
    </script>
{/block}

</body>
</html>
